/* General Stylings */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #23252c;
}

.BusinessCard {

  background-color: #1A1B21;
  border: none;
  margin: auto;
  margin-top: 50px;
  width: 400px;
  border-radius: 20px;
  overflow: hidden;
  color: whitesmoke;
  font-family: Inter;
  justify-content: center;
  
}

/* Hero Picture Styles */

.HeroPic {
  max-width: 100%;
  
  
}

/* Main Section Stylings */

.Main{
  padding: 5px;
  
}

.MainTitle{
  text-align: center;
  padding: 0;
  margin: 0;
}

.MainTitle > h1 {
  color: #FFFFFF;
  font-size: 26px;
  font-weight: bold;
  margin: 10px 0px 5px 0px;
}

.MainTitle > h5 {
  color: #F3BF99;
  font-size: 14px;

  margin: 6px;
}

.MainTitle > a {
  color: #FFFFFF
}

.MainButtonsContainer {
  padding: 5px;
}

.MainButtons{
  margin: 0;
  
}

.MainAbout {
  margin: 0% 8%;
  padding-bottom: 20px;
}

.MainAbout > h3 {
  font-size: 16px;
  margin-bottom: 2px;
}

.MainAbout > p {
  font-size: 10px;
  margin: 0%;
}


/* Footer Stylings */

.Footer{
  background-color: #161619;
  margin-bottom: 0%;
  border-radius: 0px 0px 20x 20px;
  height: 64px;
  justify-content: center;
  align-content: center;
}

.FooterText{
  justify-content: center;
  align-content: center;
}

